* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-image: url("images/SaTechs-logo.png");
  background-size: cover;
  backdrop-filter: blur(5px);

  color: black;
}

.location .container-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 300px; */
  /* height: 200px; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(20px);
}

.container-border {
  border: 1px solid;
  padding: 10px;
  box-shadow: 3.5px 5px white;
}

.location {
  margin-top: 25px;
  margin-bottom: 25px;
}

.location,
.temprature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}
.temprature .degree-section .temprature-unit {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 25px;
}
